@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.board {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/table-pattern.jpg?234d26ef333f22adceb9b22386c06606);
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
}

.board .game {
  display: grid;
}

.board .game .cards {
  width: 70vw;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 50px;
}

.board .game .cards .card {
  background: white;
  border-radius: 6px;
  padding: 5px;
  border: 5px solid transparent;
}

.board .game .cards .card input {
  display: none;
}

.board .game .cards .card.keep {
  border-color: yellow;
}

.board .hud {
  padding: 30px;
  background: saddlebrown;
}

